.task-new, .tasks-list, .task-details, .task-edit {
  display: block;
  padding: .85em;
  margin-bottom: .75em;
  border: 1px solid gray;
  border-radius: 5px;
  width: 100%;
}

.json-data {
  display: inline-block;
}

.error, .red {
  color: red;
}
